/* Palette URL: http://paletton.com/#uid=1330u0kllllaFw0g0qFqFg0w0aF */

/* .color-primary-0 { color: #277553 }	Main Primary color */
/* .color-primary-1 { color: #75AF96 } */
/* .color-primary-2 { color: #499272 } */
/* .color-primary-3 { color: #0F5738 } */
/* .color-primary-4 { color: #003A21 } */

body {
    background-color: #75af96;
}

.jumbotron {
    background-color: #0f5738;
    color: #75af96;
}

.card {
    background-color: #499272;
    color: #0f5738;
}

.my-4 {
    border-color: #75af96;
}

#timerDisplay {
    font-family: monospace;
    font-size: 75px;
    text-align: center;
    background: black;
}

.card-title {
    min-height: 24px;
}

.card-text {
    min-height: 24px;
}
